LOG_LEVEL = "INFO"

MYSQL = {
    "user": "root",
    "password": "root",
    "host": "localhost",
    "port": "3306",
    "db": "crawler"
}

FILES = {
    "download_path_searches": "downloaded_files/searches",
    "download_path_offers": "downloaded_files/offers"
}

DOWNLOADER = {
    "minimal_time": 0.1,
    "maximal_time": 0.6
}
